a {
    margin: 0px 24px;
}
body {
    background-color: white;
    text-align: center;
    margin-left: 24px;
}

h1{
    text-decoration-line: underline;
    font-family: 'Yellowtail', cursive;

}

h2{
    text-decoration-line: underline;
    font-family: 'Lobster', cursive;

}


div {
    margin-left: 48px;
    text-align: left;
}

.content{
    display: none;

}

.content.reveal{
    display: block;
    
}

#dp{
    border-image: url(C:\Users\LENOVO\Desktop\philona.jpg) 30 round;
    border-radius: 50%;
    margin: 30px;
}

#dp.bigger{
    height: 360px;
}

.icons {
    height: 48px;
}

#pagelink{
    display: block;
    margin-top: 240px;
}
